body{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    
}
.card{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    width: 23em;
    height: 15em;
}
.card_inner{
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}
.card_inner.is-flipped{
    transform: rotateY(180deg);
}
.card-face{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0,0,0,0.2);
}
.front-face{
    background-color: #bdd4e7;
    background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 0.2em; */
    

}
.front-face h2{
    color: white;
    /* border: 2px solid red; */
    font-size: 1.4em;
    
    width: 92%;

}
.front-face h3{
    color: white;
    font-size: 1.2em;
}
.back-face{
    background-color: white;
    transform: rotateY(180deg);
}
.card-content{
    width: 100%;
    height: 100%;

}
.card-header{
    position: relative;
    padding: 0.7em
}
.card-header::after{
    content: '';
    display:block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    border-radius: 0 0 50% 0;
    background-color: #b3cdd1;
    background-image: linear-gradient(315deg, #b3cdd1 0%, #9fa4c4 74%);

}
.card-header h2{
    color: white;
    text-align: center;

}
.card-body{
    display: flex;
    align-items: center;
    justify-content: center;
   
    
    
}
.card-body p{
    font-size: 1.1em;
    width: 90%;
    height: 90%;
  
  
}
/* @media only screen and (max-width: 1000px) {
    .card{
        width: 39.5vw;
        height: 17vh;
        margin: 0.5em;
       
        
    }
} */
