#root{
	display:flex;
	width:100vw;
	height:100vh;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	background-image:url("https://wallpapercave.com/wp/wp5204110.jpg");
	background-size:cover;
}
#form{
	border:5px solid black;
	background:white;
	width:60vw;
	max-width:400px;
	padding:5px;
}
#buttons a{
  text-decoration:none;
}
#buttons{
 display:flex;
 justify-content: space-around;
}